@font-face {
  font-family: 'Lyon Display Web';
  src: url('https://static.everydiem.com/fonts/LyonDisplay-BlackItalic-Web.eot');
  src: url('https://static.everydiem.com/fonts/LyonDisplay-BlackItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('https://static.everydiem.com/fonts/LyonDisplay-BlackItalic-Web.woff2') format('woff2'),
       url('https://static.everydiem.com/fonts/LyonDisplay-BlackItalic-Web.woff') format('woff');
  font-weight:  900;
  font-style:   italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Lyon Display Web';
  src: url('https://static.everydiem.com/fonts/LyonDisplay-Black-Web.eot');
  src: url('https://static.everydiem.com/fonts/LyonDisplay-Black-Web.eot?#iefix') format('embedded-opentype'),
       url('https://static.everydiem.com/fonts/LyonDisplay-Black-Web.woff2') format('woff2'),
       url('https://static.everydiem.com/fonts/LyonDisplay-Black-Web.woff') format('woff');
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Lyon Display Web';
  src: url('https://static.everydiem.com/fonts/LyonDisplay-BoldItalic-Web.eot');
  src: url('https://static.everydiem.com/fonts/LyonDisplay-BoldItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('https://static.everydiem.com/fonts/LyonDisplay-BoldItalic-Web.woff2') format('woff2'),
       url('https://static.everydiem.com/fonts/LyonDisplay-BoldItalic-Web.woff') format('woff');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Lyon Display Web';
  src: url('https://static.everydiem.com/fonts/LyonDisplay-Bold-Web.eot');
  src: url('https://static.everydiem.com/fonts/LyonDisplay-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('https://static.everydiem.com/fonts/LyonDisplay-Bold-Web.woff2') format('woff2'),
       url('https://static.everydiem.com/fonts/LyonDisplay-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Lyon Display Web';
  src: url('https://static.everydiem.com/fonts/LyonDisplay-MediumItalic-Web.eot');
  src: url('https://static.everydiem.com/fonts/LyonDisplay-MediumItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('https://static.everydiem.com/fonts/LyonDisplay-MediumItalic-Web.woff2') format('woff2'),
       url('https://static.everydiem.com/fonts/LyonDisplay-MediumItalic-Web.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Lyon Display Web';
  src: url('https://static.everydiem.com/fonts/LyonDisplay-Medium-Web.eot');
  src: url('https://static.everydiem.com/fonts/LyonDisplay-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('https://static.everydiem.com/fonts/LyonDisplay-Medium-Web.woff2') format('woff2'),
       url('https://static.everydiem.com/fonts/LyonDisplay-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Lyon Display Web';
  src: url('https://static.everydiem.com/fonts/LyonDisplay-RegularItalic-Web.eot');
  src: url('https://static.everydiem.com/fonts/LyonDisplay-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('https://static.everydiem.com/fonts/LyonDisplay-RegularItalic-Web.woff2') format('woff2'),
       url('https://static.everydiem.com/fonts/LyonDisplay-RegularItalic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Lyon Display Web';
  src: url('https://static.everydiem.com/fonts/LyonDisplay-Regular-Web.eot');
  src: url('https://static.everydiem.com/fonts/LyonDisplay-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('https://static.everydiem.com/fonts/LyonDisplay-Regular-Web.woff2') format('woff2'),
       url('https://static.everydiem.com/fonts/LyonDisplay-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Lyon Display Web';
  src: url('https://static.everydiem.com/fonts/LyonDisplay-LightItalic-Web.eot');
  src: url('https://static.everydiem.com/fonts/LyonDisplay-LightItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('https://static.everydiem.com/fonts/LyonDisplay-LightItalic-Web.woff2') format('woff2'),
       url('https://static.everydiem.com/fonts/LyonDisplay-LightItalic-Web.woff') format('woff');
  font-weight:  300;
  font-style:   italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Lyon Display Web';
  src: url('https://static.everydiem.com/fonts/LyonDisplay-Light-Web.eot');
  src: url('https://static.everydiem.com/fonts/LyonDisplay-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('https://static.everydiem.com/fonts/LyonDisplay-Light-Web.woff2') format('woff2'),
       url('https://static.everydiem.com/fonts/LyonDisplay-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

body {
  font-size: 1.8em;
  padding-top: 40px;
  letter-spacing: 0.04em;
}

p {
  font-family: 'Lyon Display Web', Georgia, serif;;
}

p em, p i {
  font-family: 'Lyon Display Web', Georgia, serif;
}

a {
  color: #222;
  text-decoration: none;
  outline: 0;
}
p a:hover, td a:hover {
  text-decoration: none;
  border-bottom: 1px solid #222;
}

a:focus, a:hover {
  color: #444;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  letter-spacing: .2em;
}

.book-specs h4, h4 {
  font-family: 'Futura', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin: 90px 0 30px 0;
}

h5, .h5 {
  font-family: 'Futura', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

h6, .h6 {
  font-family: 'Lyon Display Web', serif;
  font-size: 0.8em;
  line-height: inherit;
}

h6 em, .h6 em, h6 i, .h6 i {
  font-family: 'Lyon Display Web', Georgia, serif;
}

u {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.text-indent {
  text-indent: 60px;
}

.text-indent-row {
  text-indent: 60px;
  margin-top: -10px;
}

.indent {
  padding-left: 60px;
}

.indent-right {
  padding-right: 60px;
}

hr {
  border-top: 1px solid #999;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.btn-add {
  border: 1px solid #000;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

.btn-add.out:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: default;
}

.btn-add:hover {
  background-color: #000;
  color: #fff;
  border-color: transparent;
}

.btn.active, .btn:active {
  -webkit-box-shadow: none;
  box-shadow: default;
}

input:focus, input[type=text]:focus, textarea:focus, select:focus, button:focus {
  outline-offset: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

.navbar-toggle .icon-bar {
  background-color: #222;
}

header[role="banner"] #logo-main {
  display: block;
  margin: 20px auto;
  width: 300px;
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}

#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}

#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
}

#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}

#navbar-primary .btn-group>.btn {
  font-family: 'Futura', Helvetica, Arial, sans-serif;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 300;
}

#navbar-primary .btn-group>.btn img {
  vertical-align: top;
}

#nav-plus {
  width: 15px;
  height: 15px;
  margin-top: 10px;
}

.nav-icon {
  width: 15px;
  height: 15px;
  margin-top: 10px;
}

#lm-start {
  display: table;
  height: 100%;
  width: 100%;
}

/*.link-expand::before {
  content: "+";
}

.link-expand.collapsed::before {
  content: "â€“";
}*/

#promoIMG {
  width: 80%;
  text-align: center;
}

#contentArea img {
  margin: 0 auto;
}

#splashScreen img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 1140px;
  height: auto;
}

#splashScreen {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#carousel-start {
  margin-bottom: 30px;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;

}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-caption {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: .2em;
  bottom: 40px;
}

.carousel-control {
  width: 10%;
  opacity: 0;
  text-shadow: none;
  transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -webkit-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  filter: none;
  background-repeat: no-repeat;
}

.carousel-control:focus,
.carousel-control:hover {
  filter: none;
  outline: 0;
  opacity: 1;
}

/*.carousel-control:focus {
  filter: none;
  outline: 0;
  opacity: 0;
}*/

.carousel-control .icon-next,
.carousel-control .icon-prev {
  width: 64px;
  height: 64px;
}

.lm-logo {
  position: fixed;
  z-index: 100;
  width: 77px;
}

.top-15 {
  margin-top: 15px;
}

.top-30 {
  margin-top: 30px;
}

.bottom-30 {
  margin-bottom: 30px;
}

.top-60 {
  margin-top: 60px;
}

.book-info, .book-specs,
.poster-info, .poster-specs {
  text-align: justify;
}

.book-info > .book-specs,
.poster-info > .poster-specs {
  margin-top: 60px;
}

.poster-info {
  padding: 30px 15px 0 15px;
}

.title {
  text-transform: uppercase;
}

.book-specs {
  font-size: 0.8em;
  text-align: left;
  padding: 0 30px 0 60px;
  margin-bottom: 30px;
}

.book-start,
.poster-start {
  margin-bottom: 30px;
}

.book-start h5,
.poster-start h5 {
  position: absolute;
  font-family: 'Futura', Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
  padding: 0 30px;
  margin: 0;
  opacity: 1;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.book-start:hover h5 {
  opacity: 0;
}

.poster-start h5 {
  opacity: 0;
}

.poster-start:hover h5 {
  opacity: 1;
}

/*.poster-start:hover {
  background-color: #f0f0ee;
}*/

.coming-soon {
  color: #fff;
  font-family: 'Lyon Display Web', serif;
  text-transform: initial;
}

/*.book-start img:hover + .coming-soon {
  opacity: 1;
}*/

.book-images img {
  margin: 60px 0;
}

.book-images img:last-child {
  margin-bottom: 0;
}

.book-price,
.poster-price {
  font-family: 'Futura', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-align: center;
  margin-bottom: 30px;
}

.book-price {
  margin: 30px auto 60px;
}

/*.poster-price {
  padding-top: 30px;
  margin-bottom: 0;
}*/

.poster-price h3 {
  margin-top: 0;
}

.book-price p,
.poster-price p {
  font-family: 'Futura', Helvetica, Arial, sans-serif;
  letter-spacing: .2em
}

.book-price hr,
.poster-price hr {
  margin: 20px;
  border: 1px solid #fff;
}

.book-price h6 {
  font-size: 1em;
  text-transform: initial;
  letter-spacing: .1em;
  margin-top: -10px;
}

.poster-price p,
.poster-price h3 {
  font-family: 'Lyon Display Web', serif;
  letter-spacing: 0.04em;
}

.poster-price h3 em,
.poster-price h3 i {
  font-family: 'Lyon Display Web', Georgia, serif;
  letter-spacing: 0.04em;
}

.poster-specs h3 {
  letter-spacing: 0.04em;
}

.poster-price p {
  text-transform: none;
  letter-spacing: 0.04em;
}

article {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: 0;
  padding: 8px 0;
}

.stockists p {
  text-align: center;
  margin: 0;
}

/*.country {
  text-transform: uppercase;
  font-family: 'Futura', sans-serif;
  font-size: 0.8em;
  line-height: 1.7em;
  padding-top: 30px;
}*/

.country,
.title-case-heading {
  border-bottom: 1px solid #000;
  text-decoration: none;
  font-family: 'Lyon Display Web', serif;
}

.title-case-heading {
  display: inline-block;
}

.city {
  padding-top: 30px;
}

.table>tbody>tr>td:first-child {
/*  text-transform: uppercase;
  font-family: 'Futura', sans-serif;
  font-size: 0.8em;
  line-height: 2em;*/
  padding-right: 78px;
/*  letter-spacing: .1em;*/
}

.table>tbody>tr>td:nth-child(2) {
  padding-left: 60px
}

.table>tbody>tr>td:nth-child(3) {
  padding-left: 60px;
}

.table {
  font-family: 'Lyon Display Web', serif;
  margin-top: 30px;
}

.small, small {
  font-size: 75%;
  letter-spacing: .2em;
}

#footer {
  margin: 30px 0 90px;
}

#footer p {
  font-size: 0.8em;
}

#footer .row {
  padding-bottom: 30px;
}

#logo-footer {
  width: 40px;
  margin-top: 4px;
  vertical-align: -webkit-baseline-middle;
}

.rm-form-row, .mc-field-group {
  float: left;
}

.rm-form-row > input, .mc-field-group > input {
  width: 11em;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #000;
  border-left: 0;
  font-family: 'Lyon Display Web', serif;
  line-height: 1em;
  letter-spacing: 0.04em;
}

#footer .rm-form-row > input, #footer .mc-field-group > input {
  width: 13.7em;
  font-size: 0.8em;
  letter-spacing: 0.04em;
  line-height: 1.6em;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #000;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #000;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #000;
}

.newsletter {
  float: none;
  padding: 2px 8px 2px 10px;
  background-color: #fff;
  margin-top: 0;
  margin-left: 10px;
  font-family: 'Lyon Display Web', serif;
}

#collapseMemorial img {
  margin-top: 30px;
}

.poster-specs {
  padding: 0 15px 0 15px;
}

.poster-specs h3 {
  font-family: 'Lyon Display Web', serif;
  margin: 0 0 10px 0;
}

.poster-specs h3:last-of-type {
  font-family: 'Lyon Display Web', serif;
  margin-bottom: 30px;
}

.poster-specs h3 em,
.poster-specs h3 i {
  font-family: 'Lyon Display Webitalic';
}

.poster-specs h5 {
  font-size: 12px;
  margin-top: 0;
}

.poster-divider {
  margin: 60px 0;
}


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: ""; }
  td:nth-of-type(2):before { content: ""; }
  td:nth-of-type(3):before { content: ""; }
}


@media (min-width: 992px) and (max-width: 1200px) {

  #footer .rm-form-row > input {
    width: 13em;
  }
}


@media only screen and (min-width : 320px) and (max-width : 992px) {

  .table>tbody>tr>td:first-child {
    padding-right: 0;
  }

  .table>tbody>tr>td:nth-child(2) {
    padding-left: 0
  }

  .table>tbody>tr>td:nth-child(3) {
    padding-left: 0;
    margin-top: -15px;
  }

  .rm-form-row {
    float: none;
  }

  .newsletter {
    float: none;
    padding: 2px 8px 2px 10px;
    margin-top: 10px;
    margin-left: 0;
    font-family: 'Lyon Display Web', serif;
  }

  .poster-info p.h6 {
    text-align: center;
  }

  .poster-price {
    margin: 30px auto 0;
  }

  .poster-divider {
    margin: 30px 0;
  }
}

@media screen and (max-width: 480px) {

  #navbar-primary .btn-group>.btn img {
    vertical-align: middle;
  }

  #splashScreen img {
    max-width: 80%;
  }

  .btn-group-justified>.btn, .btn-group-justified>.btn-group {
    display: table-row;
    line-height: 2em;
  }

  header[role="banner"] #logo-main {
    margin: 0 auto 30px auto;
  }

  .book-images img {
    margin: 30px 0;
  }

  .book-specs,
  .poster-specs {
    padding: 0 15px 0 15px;
  }

  .poster-specs .text-indent {
    text-indent: 0;
  }

  .poster-specs .indent-right {
    padding-right: 0;
  }

  .book-price {
    margin: 30px auto 60px;
  }

  .poster-price {
    margin: 30px auto 30px;
  }

  h4 {
    margin: 30px 0 30px 0;
    line-height: 1.4em;
  }

  .book-info p.h6,
  .poster-info p.h6 {
    margin-bottom: 30px;
  }

  .book-info.top-60,
  .poster-info.top-60 {
    margin-top: 30px;
  }

  .table>tbody>tr>td:nth-child(2), .table>tbody>tr>td:nth-child(3) {
    padding-left: 0;
  }

  #logo-footer {
    margin-left: -8px;
  }

  .rm-form-row {
    float: none;
    margin-bottom: 10px;
  }

  #footer {
    margin: 30px 0 60px;
  }
}
